:root {

    --veryDarkGrayishBlue: hsl(217, 19%, 35%);
    --desaturatedDark: hsl(214, 17%, 51%);
    --grayishBlue: hsl(212, 23%, 69%);
    --lightGrayishBlue: hsl(210, 46%, 95%);

    box-sizing: border-box;
    font-size: 0.8125em;
}

@media only screen and (max-width: 500px) {
    :root {
        font-size: 0.75em;
    }
}

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--lightGrayishBlue);
    color: var(--veryDarkGrayishBlue);
}

h2 {
    font-size: inherit;
}

p {
    color: var(--desaturatedDark);
}

time, h3 {
    color: var(--grayishBlue);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 24px;
    overflow: hidden;
}

.article {
    margin: 17.5% auto 0;
    display: flex;
    justify-content: center;
    max-width: 56.1538461538em;
    background-color: white;
    border-radius: 1em;
    box-shadow: white;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.drawers-img {
    /* height: 280px; */
    width: 285px;
    min-width: 285px;
}

.drawers-img img {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;

}

.article-wrapper {
    max-width: 34.23076923076923em;
    padding: 2.5em 3em;
}

.article-wrapper h1 {
    letter-spacing: 0.03em;
}

.article-wrapper p {
    margin-top: 1.2em;
    line-height: 1.6;
    letter-spacing: 0.01em;
}

.author {
    margin-top: 1.5em;
    display: flex;
    align-items:center;
    justify-content: center;
}

.author-info {
    margin-left: 1.3em;
}

button {
    width: 32px;
    height: 32px;
    margin-left: auto;
    background-color: var(--lightGrayishBlue);
    outline: none;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    transition: all 0.2s ease-in-out;
}

button:hover, .active {
    background-color: var(--desaturatedDark);
}

button:hover svg path, .active {
    fill: white;
}

.author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.share {
    visibility: hidden;
}

ul {
    width: 19.076923076923077em;
    padding: 1em 3em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    list-style: none;
    position: absolute;
    top: 10em;
    right: -5.3em;
    background-color: var(--veryDarkGrayishBlue);
    transition: visibility 0.2s ease;

}

ul li {
    margin: 0 0.5em;
}

ul li:hover svg path {
    fill: var(--grayishBlue );
}

ul::after {
    content: "";
    width: 0; 
    height: 0; 
    border-left: 1.1em solid transparent;
    border-right: 1.1em solid transparent;
    border-top: 1.1em solid var(--veryDarkGrayishBlue);
    bottom: -1em;
    right: 50%;
    transform: translateX(50%);
    position: absolute;
}

ul h3 {
    font-weight: unset;
    letter-spacing: 0.3em;
    margin-right: 1em;
    text-transform: uppercase;
}

@media only screen and (max-width: 872px) {

    .article {
        flex-wrap: wrap;
        max-width: 40em;
    }

    .drawers-img {
        height: 200px;
        min-width: 100%;
    }

    .drawers-img img {
        object-position: 50% 30%;
        border-top-right-radius: 1em;
        border-bottom-left-radius: 0;
    }

    .article-wrapper {
        margin-top: 1em;
        padding: 2em 3em;
    }

    .author {
        margin-top: 3em;
    }
    
    ul {
        width: 100%;
        height: 6em;
        top: unset;
        bottom: 0;
        right: 0;
        border-top-left-radius:unset;
        border-top-right-radius:unset;
    }

    ul::after {
        display: none;
    }

    .transformY {
        transform: translateY(0.6em);
    }

}